<h1> This is the list of Article</h1>
<% @articles.each do |article| %>
  <b>Name:</b> <%= article.name %> <br>
  <b>Description:</b><%= article.description%><br>
  <b>Date of publish of the article:</b><%=article.publish_date%> <br>
<% end %>

;fksdjfljdafkasjflkalkjflkjalfjlkalkfj;lakjf;ja;ljfljaskfj;ajs;kfj;lkasj;lkfj;lasj;lfjlasjf;lkjaslkfj;lkajs;lfjlkasjlfk;lakjf;lkjsa;lfj;lks